[Unit]
Description=send a notification when the server is powered on
Requires=docker.service
After=network.online.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=curl -X POST -d '{"tag":"general", "body":"simoserver e\' online!"}' \
    -H "Content-Type: application/json" \
    http://localhost:8005/notify/apprise
