[Unit]
Description=Mount hdd (/data/hdd)

[Mount]
What=/dev/disk/by-uuid/3532a459-e292-469b-9033-370ff8a8a651
Where=/data/hdd
Type=ext4
#Options=
#TimeoutSec=seconds

[Install]
WantedBy=multi-user.target
